body {
  background-color: #464646;
  font-family: "Roboto", "anton", Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width: 85%;
  margin: 0 auto;

  --text: #dcf4e2;
  --background: #424242;
  --background2: #777777;
  --primary: #8fdca6;
  --secondary: #255e78;
  --accent: #3d72c3;
  --hover: #968e44;
  --border: #666;
  --active: red;
  --h5: white;
  --linearcolor: linear-gradient(
    to bottom,
    rgba(246, 248, 249, 1) 0%,
    rgba(229, 235, 238, 1) 50%,
    rgba(215, 222, 227, 1) 51%,
    rgba(245, 247, 249, 1) 100%
  );
  --linearcolor2: linear-gradient(
    to bottom,
    rgba(149, 149, 149, 1) 0%,
    rgba(13, 13, 13, 1) 46%,
    rgba(1, 1, 1, 1) 50%,
    rgba(10, 10, 10, 1) 53%,
    rgba(78, 78, 78, 1) 76%,
    rgba(56, 56, 56, 1) 87%,
    rgba(27, 27, 27, 1) 100%
  );
}
